body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background:#6C6;
  padding:0px;
  margin:0px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

form {
	font-size:1.1em;
	margin-bottom:10px;
	padding-bottom:10px;
}

h1 {
	color:#063;
	font-size:3.1em;
	padding:0px;
	margin:0px;
}

fieldset#login {
	background: white;
	border:9px double #093;
	margin:0px auto;
}

input[type="text"], input[type="password"], textarea {
	border:1px solid #093;
	padding:5px;
	width:253px;
	font-size:1.2em;
	-moz-border-radius: 5px;  
    -khtml-border-radius: 5px;  
    -webkit-border-radius: 5px;
}

dl
{
	float: left;
	margin: 1em 0;
	padding: 0;
	background:#9F9;
	border:1px solid #696;
	-moz-border-radius: 15px;  
    -khtml-border-radius: 15px;  
    -webkit-border-radius: 15px;
}



dl dt
{
	clear: left;
	float: left;
	width: 130px;
	margin: 0;
	padding: 5px;
	padding:15px;
	text-align:right;
	font-weight: bold;
}

dl dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding:15px;
}

table {
	border-collapse: collapse;
	border:0;
	width:100%;
}

fieldset input[type=text], fieldset input[type=password], fieldset textarea {
	border:2px solid #090;
	padding:5px;
}

table thead {
	
}

table thead tr {
	
}

a:link, a:visited {
	color:#063;
}
table thead tr th {
	color:#096;
	text-align:left;
	padding-right:20px;
	font-size:1.1em;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:2px solid #393;
	
}

table tbody tr td {
	padding:10px;
	padding-left:0px;
	border-bottom:1px solid #6C6;
}

p#pitch{
	font-size:1.3em;
	padding:10px;
	padding-left:30px;
	padding-right:30px;
	background:#CF9;
	margin-left:30px;
	margin-right:30px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  border:8px solid #396;
/* padding: 20px 40px; */
	-moz-box-shadow: 9px 8px 10px #555;
padding: 5px 5px 5px 15px;
  
  margin-top: 20px;
}

#footer {
width: 75%;
margin: 0 auto;
text-align:center;
margin-top:30px;
}

.flash {
	-moz-border-radius: 15px;  
    -khtml-border-radius: 15px;  
    -webkit-border-radius: 15px;
	margin:0px auto;
	margin-top:20px;
	width:770px;
	font-size:17px;
}
#flash_notice, #flash_error {
  padding: 5px 8px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 2px #363;
}

#flash_error {
  background-color: #FCC;
  border: solid 2px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


#navcontainer {
	background:#9F9 url(../images/CannedCukes.png) 10px 10px no-repeat;
	margin:0px;
	height:90px;
	padding:30px;
	border-bottom:3px solid #396;
	
}

#navcontainer h1 {
	
	padding:0px;
	float:left;
	margin:0px;
	margin-left: 130px;
}

#navcontainer h1 a {
	text-decoration:none;
}
#navcontainer ul
{
padding-left: 0;
margin-left: 0;
margin:0px;
color: black;
text-align:right;
}

#navcontainer ul li { display: inline;}

#navcontainer ul li strong {
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#navcontainer ul li a
{
padding: 0.2em 1em;
font-size:1.5em;
text-decoration:none;
background:#396;
color:white;
}

.scenario {
	margin-top:15px;
	padding:6px;
	padding-left:15px;
	border-left:2px solid #396;
}

.scenario em {
	font-size:0.8em;
	color:#6C9;
}

.scenario .links {
	background:#9F9;
	padding:2px;
}
.scenario h3 {
	font-size:1em;
	margin:0px;
	padding:0px;
}

.scenario pre {
	background:#eee;
	padding:0px;
	border:1px solid black;
	margin:0px;
	margin:15px;
	padding-left:5px;
}

.scenario a {	
}

.syntaxhighlighter .lines {
}