body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

form {
	font-size:1.1em;
	margin-bottom:10px;
	padding-bottom:10px;
}

fieldset {
	background:#9F6;
	border:1px solid #393;

}

fieldset legend {
	border:1px solid #393;
	color:white;
	background:#393;
	padding:10px;
}

fieldset ol {
	list-style:none;
	padding:5px;
	line-height:1.5em;
}

fieldset li {
	
}

fieldset li label {
	display:block;
}
table {
	border-collapse: collapse;
	border:0;
	width:100%;
}

fieldset input[type=text], fieldset textarea {
	border:2px solid #090;
	padding:5px;
}

table thead {
	
}

table thead tr {
	
}

table thead tr th {
	color:#096;
	text-align:left;
	padding-right:20px;
	font-size:1.1em;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:2px solid #393;
	
}

table tbody tr td {
	padding:10px;
	padding-left:0px;
	border-bottom:1px solid #6C6;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


#navcontainer {
	padding:0px;
	margin:0px;
	text-align:right;
}
#navcontainer ul
{
padding-left: 0;
margin-left: 0;
margin:0px;
color: black;
width: 100%;
font-family: arial, helvetica, sans-serif;
text-align:right;
}

#navcontainer ul li { display: inline;}

#navcontainer ul li:after {
	content: "|";
}

#navcontainer ul li strong {
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#navcontainer ul li a
{
padding: 0.2em 1em;
border-right: 1px solid #fff;
}

.scenario {
	border:2px solid #393;
	margin-top:20px;
	padding:0px;
	padding-bottom:15px;
}

.scenario h3 {
	padding:5px;
	margin:0px;
	background:#393;
}

.scenario pre {
	background:#eee;
	padding:0px;
	border:1px solid black;
	margin:0px;
	margin:15px;
	padding-left:5px;
}

.scenario a {
	margin-left:15px;	
}

.syntaxhighlighter .lines {
	margin-left:15px;
}