<% title 'Activate your account'%>
<p>
	Hi <%= @user.login%>!, <br/>
	We have just sent you a confirmation email to "<%= @user.email %>" containing instructions on how to activate your account.
</p>
<p>
	Please allow a few minutes for the email to arrive, in case it does not arrive in 10 minutes please:
</p>
<ul>
	<li>Check your spam or trash folder, it might have slipped there somehow.</li>
	<li>Contact us at <code>support@toptickers.com</code> and let us know which email address you used.</li>
</ul>
<p>
 We hope to see you back soon!, <br/>
 The TopTickers.com Team.
</p>