<% title 'Password Reset - email sent'%>

<p>
	We've sent an email to <%= @user.email %> containing instructions on how to reset your password. You should get this email within the next 10 minutes and when you do, click on the link we supplied you with and fill in a new password.
</p>
<p>
	Note that if you don't do it, your password will remain untouched.
</p>