<% title 'Scenarios'%>
<% form_tag scenarios_url, :method => :get do |f|%>
	<dl>
		<dt><label for="q">Search</label></dt>
		<dd><input type="text" name="q" id="q" value="<%= params[:q] %>"/><input type="submit" value="Submit"/></dd>
	</dl>
	<div class="clear"></div>
<% end -%>

<% if @scenarios.any? %>
<% @scenarios.each do |scenario| %>
<div class="scenario">
	<h3><%= scenario.title %></h3>
	<pre class="brush: cuke"><%= h scenario.body %></pre>
	<%= link_to 'Download', user_feature_scenario_url(current_user, scenario.feature, scenario, :format => 'txt') if scenario.feature.present? %>
</div>
<% end  %>
<% end %>