<% title "New Scenario"%>

<% form_for [current_user, @feature, @scenario] do |f| %>
<%= error_messages_for :scenario %>
<dl>
	<%= render :partial => 'form', :locals => {:f => f}%>
	<dt></dt>
	<dd><%= f.submit 'Create'%></dd>
</dl>
<div class="clear"></div>
<% end %>
