<% title "Edit a Feature" %>

<% form_for [@user, @feature] do |f| %>
<%= error_messages_for :feature %>
<ol>
	<%= render :partial => 'form', :locals => {:f => f}%>
	<li><%= f.submit 'Save'%></li>
</ol>	
<% end %>