<% title "Create a new Feature" %>

<% form_for [@user, @feature] do |f| %>
<%= error_messages_for :feature %>
<dl>
	<%= render :partial => 'form', :locals => {:f => f}%>
	
	<dt></dt>
	<dd><%= f.submit 'Create'%></dd>
</dl>
<div class="clear"></div>	
<% end %>